@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
body {
  background-color: #f0f2f5;
}
#wrap {
  overflow: hidden;
  width: 900px;
  margin: 0 auto;
}
#leftBox {
  margin-top: 150px;
  float: left;
  width: 500px;
  height: 700px;
  text-align: center;

}
#leftBox > span {
  font-size: 28px;
  font-family: "Nanum Gothic", sans-serif;
}
#leftBox > img {
  width: 80%;
}
#rightBox {
  margin-top: 150px;
  width: 400px;
  height: 700px;
  float: right;
  text-align: center;
}
#rightBox > p {
  font-size: small;
}
#rightBox > a {
  color: black;
}
#rightWrap {
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #ddd;
}
#rightWrap > .login {
  border-radius: 5px;
  height: 50px;
  width: 300px;
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0px 10px;
  font-size: large;
  border: 1px solid #ddd;
}
#rightWrap > a {
  font-size: small;
}

#login {
  font-size: large;
  font-weight: bold;
  font-family: "Nanum Gothic", sans-serif;
  background-color: #1877f2;
  color: white;
  border : 0px;
}
#create {
  font-size: large;
  font-weight: bold;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  background-color: #42b72a;
  border-radius: 5px;
  height: 50px;
  border: 0px;
  margin: 20px;
}
footer {
  font-size: small;
  background-color: white;
  text-align: center;
}
a:-webkit-any-link {
  color: black;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none
}
hr{
  border: 1px solid #f0f2f5;
}